body {
  background: #fafafa;
  color: #333333;
  font-size: 15px;
}
  
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
  
ul {
  margin: 0;
}

label {
  font-weight: 100;
  margin-top: 30px;
}

.navbar {
  background-color: #34495e;
}
  
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #34495e;
  color: #16a085;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #16a085;
}

.navbar-header a {
  font-weight: bold;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-brand:hover {
  color: #16a085;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #16a085;
}

.navbar-collapse a {
  font-weight: bold;
}

.bg-steel {
  background-color: #5f788a;
}
  
.site-header .navbar-nav .nav-link {
  color: #ffffff;
}
  
.site-header .navbar-nav .nav-link:hover {
  color: #cbd5db;
}
  
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
  
.content-section {
  background: #ffffff;
  padding: 5px 20px;
  right: 1rem;
}

.controls {
  margin-left: 5px;
  display: inline-block;
}
.control-group {
  width: 49%;
  display: inline-block;
}

.form-group {
  margin-top: 20px;
}

.form-group button {
  background-color: #1abc9c;
  color: #ffffff !important;
  font-weight: normal;
  border-radius: 4px;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.form-group button:hover {
  background-color: #16a085;
}

.navbar {
  border-radius: 0% !important;
}

.invisible-button {
  display: none;
}