{% extends "footprint/base.html" %}
{% load mathfilters %}
{% block content %}
  <article class="content-section">
    <h1>თქვენი ნახშირბადის კვალია: <span class="carbon-footprint-answer">{{ post.totalAmount }}</span> ტონა</h1>
    <h1>მსოფლიოს მოსახლეობის საშუალო ნახშირბადის კვალია: <span class="carbon-footprint-answer">4.4</span> ტონა</h1>
    <h2>ყველა რომ თქვენსავით ცხოვრობდეს დაგვჭირდებოდა <span class="carbon-footprint-answer">{{ post.planetsAmount }} დედამიწა</span></h2>
    {% if post.totalAmount > "2" %}
    <h3>კლიმატური ცვლილებების შესამსუბუქებლად საჭიროა 2 ტონაზე ნაკლები გახადოთ თქვენი ნახშირბადის კვალი</h3>
    {% endif %}
    <div id="piechart" style="width: 900px; height: 500px;"></div>
    {% for component in post.components %}
      {% if component == post.electricityAmount %}
        {% if post.components.0 == component %}
        <h1 class="font-weight-bold">{{ forloop.counter }}. ტოპ რჩევა: ეცადეთ დაზოგოთ ენერგია ან/და გამოიყენოთ მწვანე ენერგია</h1>
        <br />
        {% else %}
        <h2>{{ forloop.counter }}. ეცადეთ დაზოგოთ ენერგია ან/და გამოიყენოთ მწვანე ენერგია</h2>
        {% endif %}
      {% endif %}
      {% if component == post.transportationAmount %}
        {% if post.components.0 == component %}
        <h1>{{ forloop.counter }}. ტოპ რჩევა: ეცადეთ ავტომობილის, თვითმფრინავისა და მოტოციკლის მაგივრად იმგზავროთ საზოგადო ტრანსპორტით ან/და ველოსიპედით ან ფეხით</h1>
        <br />
        {% else %}
        <h2>{{ forloop.counter }}. ეცადეთ ავტომობილის, თვითმფრინავისა და მოტოციკლის მაგივრად იმგზავროთ საზოგადო ტრანსპორტით ან/და ველოსიპედით ან ფეხით</h2>
        {% endif %}
      {% endif %}
      {% if component == post.foodAmount %}
        {% if post.components.0 == component %}
        <h1>{{ forloop.counter }}. ტოპ რჩევა: ეცადეთ იკვებოთ ორგანული საკვებით, შეამციროთ ხორცის და რძის მიღება, ადგილობრივი წარმოების საკვები შეიძინოთ და არ გადაყაროთ საჭმელი</h1>
        <br />
        {% else %}
        <h2>{{ forloop.counter }}. ეცადეთ იკვებოთ ორგანული საკვებით, შეამციროთ ხორცის და რძის მიღება, ადგილობრივი წარმოების საკვები შეიძინოთ და არ გადაყაროთ საჭმელი</h2>
        {% endif %}
      {% endif %}
      {% if component == post.miscAmount %}
        {% if post.components.0 == component %}
        <h1>{{ forloop.counter }}. ტოპ რჩევა: ეცადეთ რაც შეიძლება ნაკლებად შეიძინოთ ზედმეტი ნივთები</h1>
        <br />
        {% else %}
        <h2>{{ forloop.counter }}. ეცადეთ რაც შეიძლება ნაკლებად შეიძინოთ ზედმეტი ნივთები</h2>
        {% endif %}
      {% endif %}
    {% endfor %}
    <br />
    {% if not recyclePGM %}
      <h3>5. ეცადეთ მუდამ გადაამუშაოთ ქაღალდი, მინა და ლითონი</h3>
    {% endif %}
    {% if not recyclePlastic and not recyclePGM %}
      <h3>6. ეცადეთ მუდამ გადაამუშაოთ პლასტმასი</h3>
    {% endif %}
    {% if not recyclePlastic and recyclePGM %}
      <h3>5. ეცადეთ მუდამ გადაამუშაოთ პლასტმასი</h3>
    {% endif %}
  </article>
  <script>
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['დენი და გათბობა',     {{ post.electricityAmount }}],
          ['ტრანსპორტი',      {{ post.transportationAmount }}],
          ['საკვები',  {{ post.foodAmount }}],
          ['სხვადასხვა', {{ post.miscAmount }}],
        ]);

        var options = {
          title: 'თქვენი ნახშირბადის კვალი'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
  </script>
{% endblock content %}